@import '../variables';

.child-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .tabs {
    width: 100%;
  }

  .grid-container {
    display: grid;
    gap: 1rem; /* Space between items */
    grid-template-columns: repeat(12, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(
      1 auto
    ); /* 2 rows that adjust based on content */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for a smooth look */
  }

  .grid-item {
    grid-column: span 4;
    background-color: white; /* White background for the items */
    padding: 20px; /* Padding inside the items */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow for a 3D effect */
    border-radius: 8px; /* Rounded corners for a smooth look */
    min-height: 300px;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .diet {
    color: red;
  }
}
