@import '../variables.scss';
.sidebar {
  background-color: $primary-color;
  padding: 0; /* Ensure no extra padding on the sidebar itself */

  h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 3rem;
  }

  ul {
    padding: 0; /* Remove padding from ul */
    margin: 0; /* Remove margin from ul */
    margin-top: 3rem;
    padding-left: 1rem;
    list-style-type: none; /* Ensure no bullet points */
  }

  li {
    position: relative; /* Position relative to contain the pseudo-element */
    margin: 0; /* Ensure no margin around li items */
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 2rem; /* Same padding for links */
    width: 100%; /* Make link span full width of parent */
    transition: background 0.3s; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding is included in width */
    position: relative; /* Ensure relative positioning for pseudo-element */
  }

  .link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to left,
      $background-color 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: -1; /* Place background behind text */
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s; /* Smooth transition for opacity */
  }

  .link.active::before {
    opacity: 1; /* Show background on active */
  }

  .link .text {
    margin-left: 1rem; /* Move text slightly to the right */
  }

  .icon {
    margin-right: 1rem; /* Space between icon and text */
  }

  .logout-link {
    display: flex; /* Ensure flex layout for alignment */
    align-items: center; /* Align items vertically center */
    text-decoration: none;
    color: $orange-color;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 2rem; /* Same padding as .link */
    width: 100%; /* Ensure full width if needed */
    transition: background 0.3s; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding is included in width */
  }
}
