@import '../variables.scss';
.sidebar {
  background-color: $primary-color;
  padding: 0; /* Ensure no extra padding on the sidebar itself */
  overflow: scroll;
  max-width: 250px;

  .dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger-button {
    font-size: 3rem;
    // padding-top: 15px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: auto;
    // margin-left: 4rem;
    margin-top: 0.5rem;
    margin-right: 0rem; /* Space between icon and text */
  }

  h1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 3rem;
    // padding-top: 15px;
  }

  ul {
    padding: 0; /* Remove padding from ul */
    margin: 0; /* Remove margin from ul */
    margin-top: 1rem;
    padding-left: 1rem;
    list-style-type: none; /* Ensure no bullet points */
  }

  li {
    position: relative; /* Position relative to contain the pseudo-element */
    margin: 0; /* Ensure no margin around li items */
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1.5rem; /* Same padding for links */
    width: 100%; /* Make link span full width of parent */
    transition: background 0.3s; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding is included in width */
    position: relative; /* Ensure relative positioning for pseudo-element */
  }

  .link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to left,
      $background-color 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: -1; /* Place background behind text */
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s; /* Smooth transition for opacity */
  }

  .link.active::before {
    opacity: 1; /* Show background on active */
  }

  .link .text {
    margin-left: 1rem; /* Move text slightly to the right */
  }

  .icon {
    margin-right: 1rem; /* Space between icon and text */
    font-size: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .logout-link {
    display: flex; /* Ensure flex layout for alignment */
    align-items: center; /* Align items vertically center */
    text-decoration: none;
    color: $orange-color;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1.5rem; /* Same padding as .link */
    width: 100%; /* Ensure full width if needed */
    transition: background 0.3s; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding is included in width */
  }
}

.sidebar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 5.9rem;
  height: 5.9rem;
  transition: height 0.3s ease; /* Smooth transition for transform */

  .mobile-dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 2rem;

    h1 {
      color: white;
    }

    .hamburger-button {
      margin-right: 0;
    }
  }

  ul {
    display: none;
  }

  .hamburger-button {
    font-size: 2rem;
    // padding-top: 15px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: auto;
  }
}

.sidebar-mobile-expanded {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 1s ease; /* Smooth transition for transform */
  .mobile-dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    margin: 1rem 2rem;

    h1 {
      color: white;
    }

    .hamburger-button {
      margin-right: 0;
    }
  }

  .hamburger-button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: auto;
  }

  ul {
    padding: 0; /* Remove padding from ul */
    margin: 0; /* Remove margin from ul */
    margin-top: 1rem;
    padding-left: 1rem;
    list-style-type: none; /* Ensure no bullet points */
  }

  li {
    position: relative; /* Position relative to contain the pseudo-element */
    margin: 0; /* Ensure no margin around li items */
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 2rem; /* Same padding for links */
    width: 100%; /* Make link span full width of parent */
    transition: background 0.3s; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding is included in width */
    position: relative; /* Ensure relative positioning for pseudo-element */
  }

  .link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to left,
      $background-color 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: -1; /* Place background behind text */
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s; /* Smooth transition for opacity */
  }

  .link.active::before {
    opacity: 1; /* Show background on active */
  }

  .link .text {
    margin-left: 1rem; /* Move text slightly to the right */
  }

  .icon {
    margin-right: 1rem; /* Space between icon and text */
    // font-size: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .hamburger-icon {
    margin-right: 0rem;
  }

  .logout-link {
    display: flex; /* Ensure flex layout for alignment */
    align-items: center; /* Align items vertically center */
    text-decoration: none;
    color: $orange-color;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 2rem; /* Same padding as .link */
    width: 100%; /* Ensure full width if needed */
    transition: background 0.3s; /* Smooth transition for background */
    box-sizing: border-box; /* Ensure padding is included in width */
  }
}

@media (max-width: 768px) {
  .mobile-dflex {
    font-size: 0.7rem;

    .hamburger-button {
      font-size: 1.5rem;
    }
  }

  .sidebar-mobile-expanded {
    // height: 60vh;

    ul {
      margin-top: 0rem;
    }
  }

  .link,
  .logout-link {
    font-size: 1rem !important;
    padding: 0.5rem 1.5rem !important;
  }
}
